<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="dashboard">
    <h2>Dashboard</h2>
    <a href="/add_employee">Add Employee</a>
    <a href="/salary">Process Salary</a>
    <a href="/payslip">View Payslip</a>
    <a href="/view_employee" class="btn">View Employees</a>
    <a href="/logout">Logout</a>
</div>
</body>
</html>